*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    font-size: 14px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 2px;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 12px;
}

h2 {
    font-size: 32px;
}

h4 {
    font-size: 14px;
}

/* 
=========
Nav 
=========
*/

nav {
    background: white;
    height: 48px;
    display: grid;
    align-items: center;
}

.nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-center h4 {
    margin-bottom: 0;
}

.nav-links {
    display: flex;
}

nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    margin-right: 16px;
}

nav a:hover {
    color: blueviolet;
}

/*
=========
container
=========
*/

main {
    min-height: calc(100vh - 48px);
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

.container h2 {
    background: darkblue;
    color: white;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 40px;
}

.color {
    color:lightskyblue;
}

.btn-hero {
    text-transform: uppercase;
    background: transparent;
    border-radius: 4px;
    padding: 12px 20px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 700;
    border: 2px solid darkblue;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.btn-hero:hover {
    color: white;
    background: darkblue;
}

